@media screen and (max-width:700px){
    .name h1{
        font-size: 1.8rem;
        
    }

    .name h2 {
        font-size: 1rem;
    }

    .grid-one {
        display: block;
    }

    .grid-two {
        display: block;
    }
   
}
    